body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #000000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #f30707;
    padding: 0.5em 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao texto */
    transition: transform 0.3s ease; /* Adiciona transição suave */
}

nav a:hover {
    transform: scale(1.2); /* Efeito de crescimento */
}

.container {
    padding: 2em;
    max-width: 1200px;
    margin: auto;
}
.promo {
    background-color: #ffcc00;
    color: #333;
    padding: 1em;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.carousel {
    position: relative;
    max-width: 100%;
    margin: 2em 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 700px; /* Define a altura fixa do carrossel */
}
.carousel img {
    width: 100%;
    height: 100%; /* Define a altura das imagens para preencher o carrossel */
    object-fit: cover; /* Ajusta a imagem para cobrir o carrossel sem distorção */
    display: none;
}
.carousel img.active {
    display: block;
}
.product {
    background-color: #fff;
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra inicial */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transições suaves para sombra e transformação */
    transform: translate(0, 0); /* Define a transformação inicial */
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra ao passar o mouse */
    transform: translate(0, -5px); /* Move o card para cima para criar a impressão de "pular para fora" */
}
.product img {
    max-width: 100%;
    border-radius: 5px;
}
.product h2 {
    margin-top: 0.5em;
}
.product p {
    color: #555;
}
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}